.password-table {
    border-radius: 8px;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 10px;
}

.table-header {
    display: flex;
    padding: 15px;
    background-color: var(--fg-color);
    border-radius: 8px;
    font-size: 18px;
}

.table-row {
    padding: 15px;
    background-color: var(--fg-shade);
    border-radius: 8px;
    display: flex;
}

.table-ipt {
    border: 1px solid var(--p-purple);
    background-color: transparent;
    border-radius: 4px;
    padding: 0 10px;
}

.table-ipt:focus {
    outline: none;
    border: 1px solid var(--p-green);
}

.table-ipt:nth-child(1) {
    width: 30%;
}

.table-ipt:nth-child(2) {
    margin: 0 10px 0 auto;
}

.col-1 {
    flex: 55%;
}

.col-2 {
    flex: 45%;
}

.pass-item {
    display: flex;
    background-color: var(--fg-shade);
    border-radius: 8px;
    padding: 15px;
    align-items: center;
}

.pass-name {
    font-weight: bold;
}

.pass-password {
    border: none;
    background-color: transparent;
    margin: 0 10px 0 auto;
}

.pass-password:focus {
    outline: none;
}

@media only screen and (max-width: 768px)  {
    .password-table { width: 95%; margin-top: 50px; }
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
    .password-table { width: 60%; }
}