.landing-body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 75px;
}

.landing-sub {
    font-size: 32px;
    margin-bottom: 150px;
}

.auth-btn {
    text-decoration: none;
    font-size: 18px;
    color: var(--black);
    position: fixed;
    top: 25px;
    right: 25px;
    padding: 10px 15px;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.auth-btn:hover {
    background-color: var(--p-orange);
}

.info-sec {
    width: 90%;
    border-radius: 20px; 
    display: flex;
    justify-content: space-evenly;
    background-color: var(--blue);
    padding: 100px 0;
}

.info {
    text-align: center;
}

.info img {
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    border-radius: 50%;
}

.info-text {
    margin-top: 25px;
    font-size: 18px;
}

@media only screen and (max-width: 768px)  {
    .landing-body { justify-content: flex-start; margin-top: 10vh; }

    .landing-title { font-size: 40px; margin-bottom: 50px; }

    .landing-sub { font-size: 20px; margin-bottom: 100px; }

    .info-sec { 
        width: 80%;
        flex-direction: column; 
        padding: 75px 0; 
        gap: 50px; 
        margin-bottom: 50px; 
    }

    .info img { height: 50vw; width: 50vw; }
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
    .landing-title { font-size: 48px; margin-bottom: 50px; }

    .landing-sub { font-size: 24px; margin-bottom: 100px; }

    .info-sec { padding: 75px 0; }
}