:root {
  --black: #222;
  --orange: #ff7d26;
  --blue: #26A8FF;
  --purple: #7D26FF;
  --green: #26FF7D;
  --p-orange: #ff964f;
  --p-blue: #4FB8FF;
  --p-green: #4FFF96;
  --p-purple: #964FFF;

}

.light-theme {
  --bg-color: beige;
  --fg-color: var(--blue);
  --fg-shade: var(--p-blue);

}

.dark-theme {
  --bg-color: #3B2D2D;
  --fg-color: var(--orange);
  --fg-shade: var(--p-orange);
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--orange);
}

.page-body {
  position: relative;
  left: 10vw;
  max-width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 35vh;
}

.wave .shape-fill {
  fill: var(--purple);
}

@media only screen and (max-width: 768px)  {
  .wave svg { width: calc(225% + 1.3px); }
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
  .page-body { left: 15vw; max-width: 85vw; }

  .wave svg { height: 25vh; }
}